.input {
    max-width: 190px;
    width: 40px;
    height: 40px;
    outline: none;
    margin: auto; 
    transition: .5s;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
  }
  body{
    padding-top: 100px;
  }
  #caja{
    background-color:#F6B044 ;
    width: 1000px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 60px auto; 
    border-radius: 20px;
    padding-top: 20px;
   }
  .pregunta{
    font-family: 'Raleway';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    color: #F3F3F3;
    padding-bottom: 20px;  
    display: flex; 
    width: 100%;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    align-items: start;

  }
  .peso{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fecha{
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  .input:invalid {
    animation:forwards;
    color: red;
  }
  body{
    margin: auto; 
background-color: gray;
position: relative;
display: flex;
align-items: center;
justify-content: center;
  }
  input:focus {
    width: 150px;
    transform: rotate(0);
  }
  #peso {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
 #peso:hover,
  #peso:focus {
    border: 2px solid #ffa500;
    box-shadow: 0px 0px 0px 7px rgb(145, 100, 0, 20%);
    background-color: white;
  }
  