body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#F5F5F5 ;
  }
  :root {
    --proporcion1:40px;
    --proporrcionx3: 120px;
    --proporcionmenos2: 20px;
    --proporcion25: 100;
   
  }
  .logo {
    padding: 0px;
    width: 80%;
  }
  .container {
    background-color:#EBEBEB;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px; 
  }
  
  h1 {
    margin-top: 20px;
    text-align: center;
    color: #2f2f2f; /* color verde */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
  }
  
  button {
    background-color: #FFA500; /* Dark Sage Green button color */
    color: white ;
    padding: 10px;
    border: none;
    border-radius: 4px  ;
    cursor: pointer;
    transition-duration: 0.15s;
  }
  
  button:hover {
    background-color: #916400; /* color verde */
    transition-duration: 0.15s;
   /* Dark Sage Green button color */
  }
 