.botones-infoycontacto{
    padding: 20px;
    text-align: center;
}
body{
  background-image: url("App.svg");
  align-items: center;

}
#objetivos{
 
 flex-direction: row;
 display: flex;
 justify-content: space-evenly;
 margin-top: 30px;

}
 #cuadrado,
 #cuadrado2,
 #cuadrado1{
        width: 200px; 
        height: 200px; 
        box-shadow: 0 4px 8px 0 #A09C9C, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #F5F5F5;
        margin-top: 30px;
    }
  


h1{
    text-align: center;
    margin-top:  120px;

}
h2{
    text-align: center;
 
}


header {
    padding: 20px;
    text-align: center;
    background: transparent;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 #A09C9C, 0 200px 6000px 0 rgba(0, 0, 0, 0.19);

}

  h2{
    font-family: 'Raleway';
    color:black;
    font-size: 50px;
    padding-top: 0px;
    padding-left: 20px;
  }
  h2
.top-right {
    display: flex;
}


.button-login,
.button-registrarse {
    background-color: transparent;
    border: 2px solid #FFA500;
    color: #F5F5F5;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
}
.button-registrarse:hover,
.button-login:hover {
    background-color: #FFA500;
    color: #F5F5F5;
}
.button-contacto:hover,
.button-info:hover {
    background-color: #FFA500;
    border-color: #FFA500;
    color:#F5F5F5;
}

.col-md-4{
    font-family: 'Raleway';
    color:black;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer{
  background-color: transparent;
 height: 90px;
}
